/* Resume.css */
.resume-section {
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdf-container {
  border: 2px solid #aaa;
  border-radius: 12px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 900px;
  overflow: hidden;
}

.resume-button-row {
  justify-content: center;
  margin: 20px 0;
}
